<mat-nav-list>
  <a *ngIf="!isAuth" routerLink="/signup" mat-list-item (click)="onClose()"><mat-icon mat-list-icon>face</mat-icon> inscription</a>
  <a *ngIf="!isAuth" routerLink="/login" mat-list-item (click)="onClose()"><mat-icon mat-list-icon>lock_open</mat-icon> connexion</a>
  <a *ngIf="isAuth" routerLink="/training" mat-list-item (click)="onClose()"><mat-icon mat-list-icon>fitness_center</mat-icon> entrainement</a>
  <a *ngIf="isAuth" mat-list-item (click)="onLogout()" style="cursor: pointer;"><mat-icon mat-list-icon>lock</mat-icon> deconnexion</a>
</mat-nav-list>
