<main class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="40px">
  <section>
    <h3>Activités</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at, corporis cum delectus dignissimos earum
      eos esse excepturi hic iste iure laborum obcaecati possimus praesentium quibusdam quisquam sapiente, voluptates
      voluptatum?</p>
  </section>
  <section>
    <h3>Communauté</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias atque beatae deleniti, dolor eaque expedita
      explicabo facere, illum impedit magni nihil nisi nulla praesentium quaerat reprehenderit voluptate. Magni,
      sunt.</p>
  </section>
  <section>
    <h3>Challenge</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur cumque distinctio ducimus enim id
      labore, omnis optio placeat voluptatum. Delectus ea illum laborum laudantium quasi quod reprehenderit tempora
      tempore.</p>
  </section>
</main>
